<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<script>
    function create() {
        let url = 'https://api.five-lions-e6156.com/newuser';

        let firstName = document.getElementById('first-name').value
        let lastName = document.getElementById('last-name').value
        let userName = document.getElementById('user-name').value
        let email = document.getElementById('email').value

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, false);
        xhr.setRequestHeader("Content-Type", "application/json");

        var data = JSON.stringify({
            'firstName': firstName,
            'lastName': lastName,
            'userName': userName,
            'email': email
            });

        xhr.send(data);
        window.location.href = '/securedPage'
    }
</script>
<h1>Create New User</h1>
First Name: <input id="first-name" type="text">
<br/>
<br/>
Last Name: <input id="last-name" type="text">
<br/>
<br/>
User Name: <input id="user-name" type="text">
<br/>
<br/>
Email: <input id="email" type="text">
<br/>
<br/>
<button onclick="create()">Create</button>

</body>
</html>
